//
// 0. Global styles
// 1. Header
// 2. Homepage and custom pages
// 3. Footer
// 4. Budgets
// 5. Legislation
// 6. Comments
// 7. Admin
// 8. Debates
// 9. Related content
// 10. Proposals
// 11. Polls
// 12. Icons
// 13. Users
//

// 0. Global styles
// --------------------

@font-face {
  font-family: "Urw din semicond";
  font-style: normal;
  font-weight: normal;
  src: font-url("urwdinsemicond_regular.woff2") format("woff2"),
       font-url("urwdinsemicond_regular.woff") format("woff");
}

@font-face {
  font-family: "Urw din semicond";
  font-style: normal;
  font-weight: bold;
  src: font-url("urwdinsemicond_bold.woff2") format("woff2"),
       font-url("urwdinsemicond_bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Sklonar";
  src: font-url("bc_sklonar.woff2") format("woff2"),
       font-url("bc_sklonar.woff") format("woff");
}

@font-face {
  font-family: "Sklonar";
  font-style: normal;
  font-weight: bold;
  src: font-url("bc_sklonar_bold.woff2") format("woff2"),
       font-url("bc_sklonar_bold.woff") format("woff");
}

.public,
.auth-page {

  body,
  h3,
  h4,
  p,
  a {
    font-family: "Urw din semicond", "Montserrat", sans-serif !important;
  }

  h1,
  h2 {
    font-family: "Sklonar" !important;
    text-transform: uppercase;
  }

  h2 {
    color: $brand-red;
  }

  h3 {
    font-family: "Urw din semicond" !important;
  }

  p a:not(.button) {
    color: $brand-red;
    text-decoration: underline;

    &:hover {
      color: #000;
    }
  }

  li {

    &::marker {
      color: $brand-red;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit !important;
}

body .top-bar-title {
  background: #fff;

  &::before {
    background: #fff;
  }
}

.footer-image {
  display: none;
}

.debate .panel h3 a {
  color: $brand-light;

  &:hover {
    color: $brand;
  }
}

.button {
  background: $brand-red;
  border: 2px solid $brand-red;
  border-radius: 0;
  box-shadow: none !important;
  color: #fff;
  font-family: "Sklonar" !important;
  min-height: $line-height * 2;

  &:hover {
    background: #fff;
    border: 2px solid #000;
    color: #000;
  }
}

.button-facebook,
.button-google,
.button-twitter {
  border-bottom: 0;
  border-right: 0;
  border-top: 0;
}

.menu {

  &.simple {

    li {

      &.is-active {

        &::after {
          border-bottom: 4px solid $title-border;
        }
      }
    }
  }
}

.no-bullet.submenu {

  *::selection {
    color: inherit;
    background: none;
  }

  li {

    a,
    a * {
      color: $brand-light;

      &.is-active {

        &::after {
          border-bottom: 4px solid $title-border;
        }
      }
    }
  }
}

.section-help {
  background: $brand-secondary;
}

.tabs {

  .tabs-title {

    > a {

      &[aria-selected="true"]::after,
      .is-active::after {
        border-bottom: 4px solid $title-border;
      }
    }
  }
}


// 1. Header
// --------------------

.top-bar {

  .subnavigation {

    @include breakpoint(small only) {
      padding: $line-height / 2 0;
    }

    .menu > li {

      a,
      .button {
        color: #fff;
      }
    }
  }
}

.subnavigation {
  background: $brand;

  a {
    color: #fff;

    @include breakpoint(medium) {

      &.is-active::after {
        background: #fff;
      }
    }

    &:hover,
    &.is-active {
      color: #fff;
    }
  }
}


.subnavigation {

  .dropdown.menu > li {

    &.opens-left > .is-dropdown-submenu {

      @include breakpoint(small only) {
        width: 100%;
      }
    }

    &.is-dropdown-submenu-parent > a {

      &::before {
        border-color: #fff transparent transparent;
        right: -5px;
        top: 22px;

        @include breakpoint(small only) {
          left: 70px;
          right: auto;
          top: 10px;
        }
      }

      &::after {
        content: none;
      }
    }

    &.is-active > a {
      color: #fff;
    }

    .is-dropdown-submenu-item a {
      color: $text;

      &:hover {
        color: $text;
      }
    }
  }
}

// 2. Homepage and custom pages
// ----------------------------

.home-page {

  .jumbo {

    @include breakpoint(large) {
      background-position: right -150px bottom 0;
      background-size: contain;
      min-height: $line-height * 10;
    }

    h1 {
      font-size: rem-calc(36);

      @include breakpoint(large) {
        font-size: rem-calc(50);
      }
    }

    .button {
      position: relative;

      &::after {
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        position: absolute;
        right: 24px;
        top: 19px;
      }
    }
  }

  .lead {
    font-size: rem-calc(20);
    margin: $line-height 0;

    @include breakpoint(medium) {
      font-size: rem-calc(24);
      margin: $line-height * 2 0;
    }
  }

  h3 {

    &.title {
      border-top: 4px solid $title-border;
    }
  }
}

.home-page .card,
.custom-page .card {
  flex-grow: initial;

  a {
    background: $brand-secondary;
  }

  h4,
  p {
    padding: 0 $line-height / 2;

    &:last-child {
      color: $text;
      text-decoration: underline;
    }
  }

  .phase,
  .completed {
    color: $text;
  }

  &.budget .description {

    &::after {
      background: linear-gradient(to bottom, rgba($brand-secondary, 0), rgba($brand-secondary, 1) 50%);
    }

    p {
      text-decoration: none;
    }
  }
}

.home-page-steps {

  h2 {

    @include breakpoint(medium) {
      font-size: rem-calc(60);
    }
  }
}

// 3. Footer
// --------------------

.footer {
  background: $brand;
  padding-top: $line-height * 3;

  .footer-title {
    color: $brand-secondary;
  }

  .social {

    a {
      color: #fff;
    }
  }
}

.subfooter {
  font-size: $base-font-size;
}

// 4. Budgets
// --------------------

.expanded {

  &.budget {
    background: $brand;

    &:not(.button) .button {
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      min-width: 30%;
    }
  }
}

.budget-phases {

  .tabs-title {

    &.current-phase-tab [aria-selected="true"] {
      background: $brand;

      &::after {
        border-left-color: $brand;
      }
    }
  }

  .phase-title {

    &.current-phase-tab a {
      background: $brand-light;
    }
  }

  .phase-title.current-phase-tab a {

    &::after {
      border-left-color: $brand-light;
    }
  }

  .tabs .tabs-title > a[aria-selected="true"],
  .tabs .tabs-title > a .is-active {

    &::after {
      border-bottom: 84px solid transparent;
    }
  }

  .tabs-title > a {

    &:hover {
      background: $brand;
      color: #fff;

      &::after {
        border-left-color: $brand;
      }
    }

    &.current-phase {
      background: $brand-light;
      color: #fff;

      &::after {
        border-left-color: $brand-light;
      }
    }

    &[aria-selected="true"],
    &.is-active {
      background: $brand;
      color: #fff;

      &::after {
        border-left-color: $brand;
      }
    }

    &[aria-selected="true"] {

      &.current-phase {
        background: $brand-light;

        &::after {
          border-left-color: $brand-light;
        }
      }
    }
  }

  .budget-prev-phase,
  .budget-next-phase {

    &::before {
      background: $brand-light;
    }
  }

  .button {
    margin-top: $line-height * 2;
    padding-right: $line-height * 1.5;
    position: relative;

    &::after {
      content: "\f054";
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      position: absolute;
      right: 12px;
      top: 19px;
    }
  }
}

.groups-and-headings .heading {

  a {
    border-radius: rem-calc(6);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: $brand;
    font-weight: bold;
    margin-top: $line-height / 4;
  }
}

.budget-investment.index .panel img {
  border-bottom-left-radius: 0;
  width: 100%;
}

.budget-investment-index-list {

  .budget-investment {
    margin-bottom: 0;

    &.index .read-more {
      bottom: 0;
      display: block;
      float: none;
      left: 0;
      margin-top: 0;
      padding-right: $line-height / 2;
      position: absolute;
      text-align: right;
      width: 100%;
    }
  }
}

.budget-investment-new {

  .recommendations li::before {
    color: $brand-secondary;
  }
}

.budget-header a {
  color: #fff !important;
}

// 5. Legislation
// --------------------

.comment-box {

  .comment {

    .votes {
      bottom: 12px !important;
      right: 12px !important;
    }
  }
}

.legislation-list .legislation p {
  word-break: break-word;
}

.draft-panels {

  .draft-chooser span {
    display: block;
  }

  .comments-on .calc-comments .comment-box .comment .comment-text p {

    &:last-child {
      margin-bottom: $line-height;
    }
  }
}

.legislation-title {
  margin-bottom: 0;
  margin-top: $line-height;
}

// 6. Comments
// --------------------

.comments {

  h3 {
    border-bottom: 4px solid $title-border;
  }
}

// 7. Admin
// --------------------

.newsletter-body-content {
  li {
    font-size: $base-font-size;
  }

  tr {
    border: 0 !important;

    &:nth-child(even),
    &:nth-child(even) td:last-child,
    &:nth-child(odd) td:last-child,
    &:hover {
      background: none !important;
    }
  }
}

// 8. Debates
// --------------------

.debate-new .header,
.proposal-form .header,
.budget-investment-new .header {
  background: $brand-secondary;
  color: $text;

  a {
    color: inherit;
  }

  .header-icon {
    color: #fff;
  }
}

// 9. Related content
// --------------------


// 10. Proposals
// --------------------

.additional-content {

  .tabs {
    border-bottom: 4px solid $title-border;
  }
}

// 11. Polls
// --------------------

.poll-more-info-answers {

  .column:only-child {
    width: 100%;
  }
}

// 12. Icons
// --------------------

.debate-content h3,
.debate-show h1,
.proposal-content h3,
.proposal-show h1,
.poll h4,
.polls-show h1 {
  position: relative;

  &::before {
    color: $border;
    font-family: "Font Awesome 5 Free";
    font-size: rem-calc(30);
    font-weight: normal;
    position: absolute;
    left: 0;
  }
}

.debate-content h3,
.debate-show h1 {

  &::before {
    content: "\f27a";
  }
}

.proposal-content h3,
.proposal-show h1 {

  &::before {
    content: "\f0eb";
    font-size: rem-calc(36);
  }
}

.poll h4,
.polls-show h1 {

  &::before {
    content: "\f080";
    font-size: rem-calc(36);
  }
}

.debate-content h3,
.debate-show h1,
.debate-info,
.proposal-content h3,
.proposal-show h1,
.proposal-info,
.poll h4,
.polls-show h1 {
  padding-left: $line-height * 2;
}

.debate-show h1,
.polls-show h1 {

  &::before {
    top: 10px;
  }
}

.proposal-show h1 {

  &::before {
    top: 7px;
  }
}

// 13. Users
// --------------------

// Remove this section after upgrade to 1.4.1

.debate-new .header,
.proposal-form .header,
.budget-investment-new .header {

  @include breakpoint(large) {
    .header-icon ~ h1,
    .header-icon ~ h2 {
      padding-right: rem-calc(360);
    }

    &.header-single-heading .header-icon,
    .header-icon {
      top: calc(50% - #{rem-calc(30)});
    }
  }

  @include breakpoint(medium) {
    &.header-single-heading::after,
    &::after {
      padding-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  h1,
  h2 {
    @include breakpoint(medium) {
      padding-right: rem-calc(200);
    }

    @include breakpoint(large) {
      padding-right: rem-calc(240);
    }
  }
}

.budget-phases {

  .budget-prev-phase,
  .budget-next-phase,
  .budget-prev-phase-disabled,
  .budget-next-phase-disabled {
    display: inline-block;
    margin-bottom: rem-calc(36);
  }
}
